.navbar-brand{
    font-family: cursive;
    font-size: 24;
}

body, html {
    height: 100%;
  }
  
  .bg {
    background-image: url('./Assets/anete-lusina-zwsHjakE_iI-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg1{
    background-image: url('./Assets/emile-perron-xrVDYZRGdw4-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg2{
    background-image: url('./Assets/kayle-kaupanger-_JOupCumElE-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.card-deck{
    width: 60rem;
    margin-bottom: 10px;
}

.card-deck1{
    width: 60rem;
    margin-bottom: 10px;
}

.column {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    padding: 1rem;
  }

  .row {
    margin-right: 30px;
    margin-left: 30px;
  }

  .card-title1{
      text-align: center;
  }