.navbar-brand{
    font-family: cursive;
    font-size: 24;
}

body, html {
    height: 100%;
  }
  
  /* HOME PAGE & CONTACT ME BACKGROUND*/
  .bg {
    background-image: url('./Assets/anete-lusina-zwsHjakE_iI-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /* PROJECTS BACKGROUND */
  .bg1{
    background-image: url('./Assets/emile-perron-xrVDYZRGdw4-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /* ABOUT ME BACKGROUND */
  .bg2{
    background-image: url('./Assets/fakurian-design-ICTjWYzpoc0-unsplash\ \(1\).jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /* CARD DECK FOR PROJECTS PAGE */
.card-deck{
    width: 60rem;
    height: 20rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}

.card-deck1{
    width: 60rem;
    margin-bottom: 10px;
    border: none;
}

 /* COLUMN PLACEMENT FOR PROJECT DECKS*/
.column {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
  }

 /* ROW PLACEMENT FOR PROJECT DECKS*/
  .row {
    margin-right: 30px;
    margin-left: 30px;
  }

  .card-title1{
      text-align: center;
  }

  .card-title{
      text-align: center;
      margin-bottom: 0px;
  }

  /* CARD BODY FOR HOME, ABOUT ME AND PROJECTS */
  .card-body{
      background-color: #4d4d4d;
      color: white;
      margin: 0px;
  }

/* HOME PAGE CARD */
  .card2{
    width: 30rem;
    height: 10rem;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 40px;;
    box-shadow: 10px 10px 5px grey;
    border: none;
  }
  
  .card-title2{
      background: transparent;
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: xx-large;
  }

 .card-text2{
     color: white;
     font-size: 20;
 }

 .card-title4{
     color: white;
     text-align: center;
     font-size: xx-large;
 }

  /*CONTACT ME CARD - FOR CONTACT ME! TEXT ABOVE CIRCLES */
  .card3{
    width: 28rem;
    height: 10rem;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 75px;
    margin-right: 25px;
    border-radius: 40px;
    text-align: center;
    font-size: xx-large;
    box-shadow: 10px 10px 5px grey;
    border: none;
  }

 /* STYLE ALL ICONS */
.fa {
  padding: 22px;
  font-size: 50px;
  width: 75px;
  height: 75px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
}

/* ADD HOVER TO ICONS */
.fa:hover {
  opacity: 0.7;
}

/* SET BRAND COLORS FOR ICONS */

/* EMAIL */
.fa-envelope {
  background: #bbb;
  color: black;
}

/* PHONE */
.fa-phone {
  background: #bbb;
  color: black;
}

/* LINKEDIN */
.fa-linkedin {
    background: #bbb;
    color: black;
    ;
}

/* GITHUB */
.fa-github {
    background: #bbb;
    color: black;
}

  /* CONTACT ME CARD - TEXT COLOR*/
  .card-body2{
      background-color: transparent;
      color: #bbb;
  }